/bin/
/build/
/.classpath
/.project
/.gradle/
/.settings/
/*.db
/*.conf
/gradlew
/gradlew.bat
/*.sqlite3
/*.log
/log/
/gen/
*/bin/
*/build/
*/gen/
*/.classpath
*/.project
*/.settings/
*/.gradle/
*/.gitignore

